<template>
  <div class="about">
    <b-container class="mt-60 text-center">
      <b-card
        title="Me"
        img-src="../assets/me1.jpg"
        img-alt="Image"
        img-height="300px"
        img-left
        class="mt-4 mb-2"
      >
        <b-card-text>
          <p>
            Hi, my name is Víctor Andrés Hurtado Gutiérrez, I am 36 and the
            youngest brother in a family of two children.
          </p>
          <p>
            I am a systems engineer, and I like developing, designing, reading,
            swimming and the movies. Most important things in life are God and
            family.
          </p>
          <p class="text-right">
            <i>3166931344 - vianhg@gmail.com</i>
          </p>
        </b-card-text>
      </b-card>
    </b-container>
  </div>
</template>
<style scoped>
.mt-60 {
  margin-top: 60px;
}
div.card {
  font-size: 18px;
}
</style>
