<template>
  <div class="home">
    <b-jumbotron bg-variant="white" class="mb-0 ml-4">
      <h1>Analyze Host</h1>
      <p>Get information about a server to analyze its security.</p>
      <hr class="mt-4" />
    </b-jumbotron>
    <analyze />
  </div>
</template>

<script>
// @ is an alias to /src
import Analyze from "@/components/Analyze.vue";

export default {
  name: "home",
  components: {
    Analyze
  }
};
</script>

<style scoped>
@media (min-width: 576px) {
  .jumbotron {
    padding: 2rem 1rem;
  }
}
</style>
