<template>
  <b-container>
    <h1 class="text-left my-3">Servers viewed</h1>
    <div v-if="model.length">
      <b-row>
        <div v-bind:key="host.index" v-for="host in model">
          <b-col>
            <server :model="host" class="mb-4"></server>
          </b-col>
        </div>
      </b-row>
    </div>
    <div v-else>
      <h4>No hosts found!</h4>
    </div>
    <div class="text-center mb-2">
      <router-link class="btn btn-lg" to="/">
        <font-awesome-icon icon="arrow-left" />
        Volver
      </router-link>
    </div>
  </b-container>
</template>
<script>
import { ServerService } from "../services/api.service";
import Server from "@/components/Server.vue";

export default {
  name: "server-list",
  data() {
    return {
      model: []
    };
  },
  components: {
    Server
  },
  mounted() {
    ServerService.getServers().then(response => {
      this.model = response.data.items;
    });
  }
};
</script>
