<template>
  <div>
    <search />
    <b-container>
      <loading :show="loading" />
      <server :model="server" />
    </b-container>
  </div>
</template>

<script>
// @ is an alias to /src
import Server from "@/components/Server.vue";
import Search from "@/components/Search.vue";
import Loading from "@/common/Loading.vue";
import { ServerService } from "../services/api.service";

export default {
  name: "server-view",
  components: {
    Server,
    Search,
    Loading
  },
  data() {
    return {
      host: "",
      server: {},
      loading: false
    };
  },
  watch: {
    $route: "fetchData"
  },
  created() {
    this.fetchData();
  },
  methods: {
    fetchData() {
      this.host = this.$route.params.host;

      this.loading = true;
      ServerService.get(this.host)
        .then(response => {
          this.server = response.data;
          this.loading = false;
          if (this.server.ssl_grade == "") {
            this.showWarning(
              "It seems we couldn't get all the information. Please try again in a moment."
            );
          }
        })
        .catch(error => {
          this.loading = false;
          this.showError(
            "There was an error on the request. Please check if the host exist."
          );
          console.error(error);
        });
    },
    showWarning(msg) {
      this.$bvToast.toast(msg, {
        autoHideDelay: 4000,
        title: "Oops",
        variant: "warning"
      });
    },
    showError(msg) {
      this.$bvToast.toast(msg, {
        autoHideDelay: 4000,
        title: "Oops",
        variant: "danger"
      });
    }
  }
};
</script>
<style>
.big-spinner {
  width: 3rem;
  height: 3rem;
}
</style>
