<template>
  <div class="container-fluid">
    <Search class="align-middle" />
  </div>
</template>

<script>
import Search from "@/components/Search.vue";

export default {
  name: "analyze",
  components: { Search }
};
</script>

<style scoped></style>
