<template>
  <b-container>
    <b-card title="Endpoints">
      <b-card-text>
        <div v-if="model && model.length">
          <b-table hover :fields="fields" :items="model">
            <template slot="ssl_grade" slot-scope="data">
              <div
                v-b-tooltip.hover
                :title="data.item.ssl_grade ? '' : message"
              >
                {{ data.item.ssl_grade | nvlScore }}
              </div>
            </template>
            <template slot="country" slot-scope="data">
              {{ data.item.country }}
              <span class="invisible">{{ key }}</span>
              <!-- Used to reload when flags are ready-->
              <img
                v-if="data.item.country"
                height="20px"
                v-bind:src="flags[data.item.country]"
                alt
                vertical-align="top"
              />
            </template>
          </b-table>
        </div>
        <div v-else class="text-center">
          <h4>No endpoints found!</h4>
        </div>
      </b-card-text>
    </b-card>
  </b-container>
</template>
<script>
import { CountryService } from "../services/api.service";
import { Constants } from "../common/Constants";

export default {
  name: "endpoint-list",
  data() {
    return {
      message: "",
      fields: [
        { key: "address", label: "Address" },
        { key: "ssl_grade", label: "Grade" },
        { key: "owner", label: "Owner" },
        { key: "country", label: "Country" }
      ],
      flags: [],
      key: 0
    };
  },
  props: {
    model: { type: Array, required: true }
  },
  methods: {
    loadFlags(country) {
      if (typeof country == "undefined" || country == "") {
        return;
      }

      if (typeof this.flags[country] != "undefined") {
        return this.flags[country];
      }

      CountryService.get(country).then(response => {
        this.flags[country] = response.data.flag;

        this.key += 1;
      });
    }
  },
  created() {
    if (this.model) {
      this.model.forEach(endpoint => {
        this.loadFlags(endpoint.country);
      });
    }
    this.message = Constants.MESSAGE_RELOAD;
  }
};
</script>
