<template>
  <div>
    <b-card border-variant="light">
      <form v-on:submit.prevent="onSearch()">
        <b-form-group
          id="fieldsetHost"
          :invalid-feedback="invalidFeedback"
          :state="state"
        >
          <b-input-group>
            <b-form-input
              id="txtHost"
              v-model="host"
              :state="state"
              trim
              placeholder="Host"
            ></b-form-input>
            <b-input-group-append>
              <b-button variant="outline-secondary" type="submit">
                <font-awesome-icon icon="search" />
              </b-button>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
        <b-form-group class="text-center">
          <router-link :to="serversListLink">Show seen</router-link>
        </b-form-group>
      </form>
    </b-card>
  </div>
</template>

<script>
export default {
  name: "search",
  data() {
    return {
      host: ""
    };
  },
  methods: {
    onSearch() {
      if (this.host != "" && this.host.indexOf(".") > 0) {
        this.$router.push("/server/" + this.host);
      }
    }
  },
  computed: {
    state() {
      if (this.host.length == 0) {
        return null;
      }
      var patt = /.+\.\w+/g;
      return patt.test(this.host) ? true : false;
    },
    invalidFeedback() {
      var patt = /.+\.\w+/g;
      if (this.host.length > 0 && patt.test(this.host)) {
        return "It doesn't look like a host name";
      } else {
        return "";
      }
    },
    serversListLink() {
      return { name: "servers", params: {} };
    }
  },
  mounted() {
    if (typeof this.$route.params.host != "undefined") {
      this.host = this.$route.params.host;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
