<template>
  <div>
    <b-card v-if="model.host" class="shadow rounded">
      <b-card-text>
        <h5 mb-0 class="font-weight-bold">
          <div class="d-flex justify-content-between">
            {{ model.title }}
            <b-img
              v-if="model.logo"
              v-bind:src="model.logo"
              alt="Image"
              right
              height="24px"
            />
            <font-awesome-icon
              v-else
              icon="image"
              v-b-tooltip.hover
              title="No logo for the page"
            />
          </div>
        </h5>
        <h5>
          <small>
            <a :href="'http://' + model.host" target="_blank">{{
              model.host
            }}</a>
          </small>
        </h5>
        <b-container>
          <b-row>
            <b-col cols="8">Grade:</b-col>
            <b-col>
              <div v-b-tooltip.hover :title="model.ssl_grade ? '' : message">
                {{ model.ssl_grade | nvlScore }}
              </div>
            </b-col>
          </b-row>
          <b-row>
            <b-col cols="8">Previous grade:</b-col>
            <b-col>{{ model.previous_ssl_grade | nvlScore }}</b-col>
          </b-row>
          <b-row>
            <b-col cols="8">Active:</b-col>
            <b-col v-bind:class="getOkColor(!model.is_down)">
              <font-awesome-icon v-bind:icon="getActiveIcon(!model.is_down)" />
            </b-col>
          </b-row>
          <b-row>
            <b-col cols="8">Changed:</b-col>
            <b-col v-bind:class="getChangedColor(model.servers_changed)">{{
              model.servers_changed | boolToYesNo
            }}</b-col>
          </b-row>
        </b-container>
      </b-card-text>

      <b-card-footer class="text-center pb-0">
        <b-button
          v-b-toggle="'cl' + model.host"
          variant="link"
          @click="isEndpointsListCollapsed = !isEndpointsListCollapsed"
          >{{ isEndpointsListCollapsed ? "Hide" : "View endpoints" }}</b-button
        >
        <b-collapse :id="'cl' + model.host" class="mt-2">
          <b-card>
            <endpoint-list :model="model.servers"></endpoint-list>
          </b-card>
        </b-collapse>
      </b-card-footer>
    </b-card>
  </div>
</template>
<script>
import { Constants } from "../common/Constants";
import EndpointList from "@/components/EndpointList.vue";

export default {
  name: "server",
  components: {
    EndpointList
  },
  data() {
    return {
      message: "",
      isEndpointsListCollapsed: false
    };
  },
  props: {
    model: { type: Object, required: true }
  },
  created() {
    this.message = Constants.MESSAGE_RELOAD;
  },
  filters: {},
  methods: {
    getActiveIcon(active) {
      let icon = active ? "thumbs-up" : "thumbs-down";
      return icon;
    },
    getOkColor(active) {
      return active ? "text-success" : "text-danger";
    },
    getChangedColor(changed) {
      return changed ? "text-info" : "";
    }
  }
};
</script>
