<template>
  <div v-if="show" class="text-center">
    <b-spinner type="grow" class="big-spinner" label="Loading..."></b-spinner>
  </div>
</template>
<script>
export default {
  name: "loading",
  props: {
    show: { type: Boolean, required: true }
  }
};
</script>
